<div class='outer-home-container'>

  <div class='header'>

    <div class='logo-container'>

      <img class='logo' src='../assets/images/Smoke-Spot.png'/>

    </div>

    <div class='navbar-container'>

      <nav class='navbar'>

        <a ui-sref='' class='navbar-link'><p>E-Juice</p></a>
        <a ui-sref='' class='navbar-link'><p>Mods</p></a>
        <a ui-sref='' class='navbar-link'><p>Batteries & Chargers</p></a>
        <a ui-sref='' class='navbar-link'><p>CBD</p></a>
        <a ui-sref='' class='navbar-link'><p>Kratom</p></a>
        <a ui-sref='' class='navbar-link'><p>Glass Gallery</p></a>
        <a ui-sref='' class='navbar-link'><p>Detox</p></a>

      </nav>

    </div>

  </div>

  <div class='containing-block'>

    <div class='carousel-container'>

      <div class='carousel-item'>

        <img class='carousel-img' src='../assets/images/asianvape.png'/>

      </div>

    </div>

    <div class='review-container'>

      <div class='review'>

      <em><p class='review-text'>"I came in yesterday, and had one of the best experiences in a long time. Their selection is out of this world and they have everything you could possibly want and more, friendly staff great environment, if you haven't been to this shop I recommend you do! This is the best smoke spot I have been too!!!!! "</p></em >

        <div class='review-author-container'>

          <p class='review-author'> - Raquel Cornejo</p>

        </div>

      </div>

    </div>

  </div>

  <div class='title-seperator-block' style=''>

    <p class='block-title'>Featured E-Juice</p>

  </div>

  <!-- <div class='skew-block'></div> -->

  <div class='containing-block'>

    <div class='featured-bar'>

      <div class='featured-item'>

        <div class='item-picture-container'>

          <img class='item-picture' src='../assets/images/airfactory.png' />

        </div>

        <div class='item-text-container'>

          <p class='item-text'>Mystery by Air Factory E-Liquid blends mixed berries and fruits to create a complex fruity flavor that'll keep you guessing each and every time you vape.. One of the top selling e liquids on the market. Try it today and it won;t be a mystery as to why.</p>

        </div>

      </div>

      <div class='featured-item'>

        <div class='item-picture-container'>

          <img class='item-picture' src='../assets/images/vaporjuice.png' />

        </div>

        <div class='item-text-container'>

          <p class='item-text'>Hawaiian POG Ice by Naked 100 Ice E-Liquid presents an iced version of the world famous blend of smooth, refreshingly fresh-squeezed Oranges, Passion Fruit's delightfully sweet and tart nectar, and exotically fruity and creamy Guava-- all served on ice! This offers an unmatchable tropical flavor with refreshingly cool undertones.</p>

        </div>

      </div>

      <div class='featured-item'>

        <div class='item-picture-container'>

          <img class='item-picture' src='../assets/images/weirdjuice.png' />

        </div>

        <div class='item-text-container'>

          <p class='item-text'>Mystery by Air Factory E-Liquid blends mixed berries and fruits to create a complex fruity flavor that'll keep you guessing each and every time you vape.. One of the top selling e liquids on the market. Try it today and it won;t be a mystery as to why.</p>

        </div>

      </div>

    </div>

    <div class='vape-carousel'>

      <div class='vape-carousel-img-container'>

        <img class='vape-carousel-img' src='../assets/images/image_medium.png'/>

      </div>

      <div class='vape-carousel-img-container'>

        <img class='vape-carousel-img' src='../assets/images/dripmore.png'/>

      </div>

      <div class='vape-carousel-img-container'>

        <img class='vape-carousel-img' src='../assets/images/image_medium.png'/>

      </div>

      <div class='vape-carousel-img-container'>

        <img class='vape-carousel-img' src='../assets/images/dripmore.png'/>

      </div>

      <div class='vape-carousel-img-container'>

        <img class='vape-carousel-img' src='../assets/images/image_medium.png'/>

      </div>

      <div class='vape-carousel-img-container'>

        <img class='vape-carousel-img' src='../assets/images/dripmore.png'/>

      </div>

      <div class='vape-carousel-img-container'>

        <img class='vape-carousel-img' src='../assets/images/image_medium.png'/>

      </div>

      <div class='vape-carousel-img-container'>

        <img class='vape-carousel-img' src='../assets/images/dripmore.png'/>

      </div>

      <div class='vape-carousel-img-container'>

        <img class='vape-carousel-img' src='../assets/images/image_medium.png'/>

      </div>

      <div class='vape-carousel-img-container'>

        <img class='vape-carousel-img' src='../assets/images/dripmore.png'/>

      </div>

    </div>

    <div class='img-link-block juice-img-link'>

      <p>E-Juice</p>

    </div>

  </div>

  <div class='title-seperator-block' style=''>

    <p class='block-title'>Mods, Batteries & Chargers</p>

  </div>

  <div class='containing-block'>

    <div class='img-link-block'></div>

    <div class='img-link-block'></div>

    <div class='img-link-block mod-img-link'>

      <p>Mods</p>

    </div>

    <div class='img-link-block battery-img-link'>

      <p>Batteries & Chargers</p>

    </div>

    <div class='img-link-block'></div>

    <div class='img-link-block'></div>

    <div class='img-link-block'></div>

  </div>

</div>
